@media (width <=1075px) {
  .welcomeContent {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  /*?=== BOXES STYLING ===*/
  #features,
  #listTypes {
    margin-block: 1rem;
  }

  #listTypes > .list {
    width: 50%;
  }
}

@media (width <=1050px) {
  /*?=== MAIN CONTAINER ===*/
  .hero-container {
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media (width <=990px) {
  .taskCardList > .task {
    padding: 2rem 2rem;
  }
}

@media (width <=960px) {
  /*?=== ALL TODOS CONTAINER ===*/
  .hero-container > .todoProjectsContainer {
    flex: 1 1 45%;
  }
  .section {
    padding: 2rem 3rem;
  }
  .section {
    padding: 2rem 2rem;
  }
  /*?=== ALL TODOS CONTAINER ===*/
  .hero-container > .todoProjectsContainer {
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  .taskCardList,
  .taskCardList > .task,
  .todoProjectsContainer > .addTodosBtn {
    width: 100%;
  }

  .modalContent {
    width: 80%;
  }
}

@media (width <=811px) {
  #listTypes > .list {
    width: 70%;
  }
}

@media (width <=615px){
  .welcomeHeading{
    line-height: 4.5rem;
    margin-bottom: 1rem;
  }

  #about > p{
    margin-bottom: 2rem;
  }

  #features{
    padding-left: 4rem;
  }
  #features > ul li {
    list-style-position: outside;
  }
}
@media (width <= 565px) {
  .modalContent {
    height: 100%;
  }
  .grid-two-cols {
    grid-template-columns: 1fr;
  }
  .formBtns > button {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
  }
  .logo {
    font-size: 1.8rem;
  }

  .modalContent {
    width: 90%;
  }
  #listTypes > .list {
    width: 90%;
  }
}
