@media (width <=1075px) {
  .welcomeContent {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  /*?=== BOXES STYLING ===*/
  #features,
  #listTypes {
    margin-block: 1rem;
  }

  #listTypes > .list {
    width: 50%;
  }
}

@media (width <=1050px) {
  /*?=== MAIN CONTAINER ===*/
  .hero-container {
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media (width <=990px) {
  .taskCardList > .task {
    padding: 2rem 2rem;
  }
}

@media (width <=960px) {
  /*?=== ALL TODOS CONTAINER ===*/
  .hero-container > .todoProjectsContainer {
    flex: 1 1 45%;
  }
  .section {
    padding: 2rem 3rem;
  }
  .section {
    padding: 2rem 2rem;
  }
  /*?=== ALL TODOS CONTAINER ===*/
  .hero-container > .todoProjectsContainer {
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  .taskCardList,
  .taskCardList > .task,
  .todoProjectsContainer > .addTodosBtn {
    width: 100%;
  }

  .modalContent {
    width: 80%;
    height: fit-content;
  }
}

@media (width <=811px) {
  #listTypes > .list {
    width: 70%;
  }
}

@media (width <=615px) {
  .welcomeHeading {
    line-height: 4.5rem;
    margin-bottom: 1rem;
  }

  #about > p {
    margin-bottom: 2rem;
  }

  #features {
    padding-left: 4rem;
  }
  #features > ul li {
    list-style-position: outside;
  }

  .modalContent > .modalContentBody :is(input, textarea, select) {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }

  .modalContent,
  .modalHeading {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .modalContent {
    padding: 0;
  }

  .modalContentBody {
    padding: 0 1rem;
  }

  .modalHeading {
    font-size: 2rem;
    padding: 1rem 0%;
  }

  .row {
    gap: 0;
  }

  label,
  .addTodos {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }

  .addTodos{
    padding: 0.5rem;
  }

  .modalContent > i {
    font-size: 2rem;
    right: 1%;
    top: 1%;
  }
}
@media (width <= 565px) {
  .header {
    padding: 0rem 1rem;
  }
  .modalContent {
    height: fit-content;
  }
  .grid-two-cols {
    grid-template-columns: 1fr;
  }
  .formBtns > a {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
  }
  .logo {
    font-size: 1.8rem;
  }

  .signUpContainer,
  .logInContainer {
    width: 90%;
  }

  #listTypes > .list {
    width: 90%;
  }

  /*!=============== SWEAT ALERT STYLING ===============*/

  .sweatPopup {
    width: 90%;
  }
  .sweatTitle {
    font-size: 2.5rem !important;
  }
  .sweatPara {
    font-size: 1.6rem !important;
  }
  .sweatBtn {
    font-size: 1.3rem !important;
  }
}
