/*!========== common use css ==========*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "jost";
  text-transform: capitalize;
}
.black {
  color: black;
}

.white {
  color: white;
}

html {
  font-size: 62.5%;
}

.main-container,
.header {
  max-width: 1440px;
}

.main-container {
  margin-top: 7rem;
}

.section {
  padding: 2rem 5rem;
}

/*!========== website theme ==========*/

:root {
  --mainColor1: rgb(55, 32, 81);
  --mainColor2: rgb(210, 149, 232);
  --mainColor3: rgb(68, 46, 107);
  --bg-gradient: linear-gradient(150deg, var(--mainColor1), var(--mainColor2));
  --bg-gradient2: linear-gradient(to bottom, rgb(86, 63, 114), rgb(45, 23, 71));
  --btn-bg: rgb(207, 159, 241);
  --black: #000;
  --white: #fff;
}

/*!========== ReuseAble Code ==========*/

/*todo===== all flex properties =====*/

.d-flex {
  display: flex;
}

/*?=== justify content properties ===*/

.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.jc-between {
  justify-content: space-between;
}
.jc-evenly {
  justify-content: space-evenly;
}
.jc-around {
  justify-content: space-around;
}

/*?=== aling items properties ===*/

.al-center {
  align-items: center;
}
.al-start {
  align-items: start;
}
.al-end {
  align-items: end;
}

/*?=== flex directions properties ===*/

.dir-col {
  flex-direction: column;
}
.dir-col-reverse {
  flex-direction: column-reverse;
}

/*todo===== all grid properties =====*/

.grid {
  display: grid;
  gap: 1rem;
}

/*?=== template columns properties ===*/

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*?=== justify items properties ===*/

.ji-center {
  justify-items: center;
}
.ji-start {
  justify-items: start;
}
.ji-end {
  justify-items: end;
}

/*todo===== all txt properties =====*/

.txt-up {
  text-transform: uppercase;
}
.txt-low {
  text-transform: lowercase;
}
.txt-cap {
  text-transform: capitalize;
}
.txt-center {
  text-align: center;
}

.txt-none {
  text-transform: none;
}
.bold {
  font-weight: bold;
}

/*todo===== all position properties =====*/

.p-relative {
  position: relative;
}
.p-absolute {
  content: "";
  position: absolute;
}
.p-fixed {
  content: "";
  position: fixed;
}

/*todo===== all other properties =====*/

.d-none {
  display: none;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.m-auto {
  margin: auto;
}
.pointer {
  cursor: pointer;
}
.border-none {
  border: none;
}
.radius-50per {
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.transition-3ms {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.transition-1ms {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.btn {
  border: none;
  outline: none;
}

/*!========== drop up css ==========*/
.drop-up {
  bottom: 3%;
  right: 4%;
}
.drop-up a i {
  font-size: 2.5rem;
  width: 5rem;
  height: 5rem;
  background: var(--bg-gradient);
  color: var(--white);
  animation-name: border-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2.5s;
}
@keyframes border-animation {
  0%,
  100% {
    border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -webkit-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -moz-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -ms-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -o-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
  }
  50% {
    border-radius: 30%70%70%30%/30%30%70%70%;
    -webkit-border-radius: 30%70%70%30%/30%30%70%70%;
    -moz-border-radius: 30%70%70%30%/30%30%70%70%;
    -ms-border-radius: 30%70%70%30%/30%30%70%70%;
    -o-border-radius: 30%70%70%30%/30%30%70%70%;
    -webkit-border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
/*!=============== HEADAER SECTION ===============*/
body,
.modalContainer {
  background-color: #e3e1e1;
}
header {
  background-color: var(--mainColor3);
  padding: 2rem 3rem;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 2.5rem;
}

.logo {
  font-size: 2rem;
}
.formBtns > button,
.formLogInBtn,
.formSignUpBtn {
  background-color: var(--btn-bg);
  color: var(--mainColor3);
  border: 1px solid transparent;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.formBtns > button:hover,
.formLogInBtn:hover,
.formSignUpBtn:hover {
  background-color: var(--mainColor3);
  color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
}
.formBtns > button {
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*!=============== WELCOME SECTION STYLING ===============*/
/*?=== WELCOME CONTAINER ===*/
.welcomeContainer {
  height: 100vh;
}

/*?=== WELCOME MAIN HEADING ===*/
.welcomeHeading {
  font-size: 4rem;
  margin-top: 1rem;
}

/*?=== WELCOME MAIN & SUB BOTH HEADINGS ===*/
.welcomeHeading,
#about h2 {
  color: var(--mainColor3);
}
#about h2 {
  font-size: 3rem;
}

/*?=== SUB HEADINGS ===*/
h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/*?=== ABOUT SECTION PARA ===*/
#about > p {
  font-size: 2.5rem;
}

/*?=== ALL PARAGRAPHS IN WELCOME SECTION ===*/
.welcomeContainer p {
  font-size: 1.8rem;
}
/*todo===== WELCOME CONTENT =====*/
.welcomeContent {
  gap: 4rem;
}
/*?=== BOXES STYLING ===*/
#features,
#listTypes {
  margin-block: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background: var(--bg-gradient);
  color: #fff;
}

#features > ul li {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  list-style-position: inside;
}

#features > ul > li::marker {
  content: " â­ ";
}

#listTypes h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
#listTypes > .list {
  width: 70%;
  margin-bottom: 1rem;
}
#listTypes > .list > :is(h3, p) {
  text-align: left;
}

/*!=============== SAME STYLING OF ALL TODOS ===============*/

/*?=== MAIN CONTAINER ===*/

.hero-container {
  gap: 3rem;
  flex-wrap: wrap;
}

/*?=== ALL TODOS CONTAINER ===*/
.hero-container > .todoProjectsContainer {
  flex: 1 1 25%;
  height: fit-content;
}

/*?=== ALL TODOS HEADER ===*/
.todoHeader {
  background-color: var(--mainColor1);
  margin-bottom: 1rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.todoHeader,
.todoProjectsContainer > .addTodosBtn,
.modalContent,
.addTodos {
  padding: 1rem 2rem;
}

/*?=== ALL ICONS IN HEADER ===*/
.todoProjectsContainer > .todoHeader i {
  font-size: 1.8rem;
  background-color: var(--mainColor2);
  color: var(--mainColor1);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*?=== DROP DOWN ICON OF HEADER ===*/
.todoProjectsContainer .todoHeader .dropDown {
  font-size: 3rem;
}

/*?=== HEADING OF ALL TODOS ===*/
.todoProjectsContainer .todoHeader > .todoHeading {
  color: var(--white);
  width: 150px;
}
.todoProjectsContainer .todoHeader > .todoHeading,
.todoProjectsContainer > .addTodosBtn {
  font-size: 2rem;
  gap: 2rem;
}
/*!=============== TODO'S CARD STYLING ===============*/

.heightWidth {
  font-size: 2.5rem;
  min-height: 250px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#features,
#listTypes,
.taskCardList > .task,
.todoProjectsContainer > .addTodosBtn {
  width: 98%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.taskCardList > .task {
  padding: 2rem 3rem;
  background-color: #fff;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  overflow: hidden;
}

.taskCardList > .task > .cancelBtn {
  right: 0%;
  top: 0%;
  font-size: 1.5rem;
  background-color: #3085d6;
  background-color: var(--mainColor1);
  padding: 1rem;
  border-bottom-left-radius: 30%;
  color: #fff;
}
.taskCardList > .task > .cancelBtn:hover {
  background-color: #d33;
}

.taskCardList > .task > .taskTitle {
  font-size: 3rem;
}

.taskCardList > .task > .taskDescription {
  margin-block: 1rem;
}

.taskCardList > .task > :is(.taskDeadLine, .taskStatus, select) {
  margin-bottom: 0.5rem;
}

.taskCardList
  > .task
  > :is(.taskDescription, .taskDeadLine, .taskStatus, .taskPriority) {
  font-size: 1.8rem;
}
.taskCardList .task > .taskStatus > .status {
  font-weight: bold;
}
.toDos > .task > .taskStatus > .status {
  color: red;
}

.inProgress > .task > .taskStatus > .status {
  color: blue;
}

.completed > .task > .taskStatus > .status {
  color: green;
}

.taskCardList > .task > .taskPriority > select,
.taskCardList > .task > .taskPriority > select > option {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0.4rem 1rem;
  font-weight: bold;
}

.taskCardList > .task > .taskPriority > select > option {
  color: black;
}
.blue {
  color: blue;
  border: 2px solid blue;
}

.red {
  color: red;
  border: 2px solid red;
}

.green {
  color: green;
  border: 2px solid green;
}
.todoProjectsContainer > .addTodosBtn {
  background-color: #f8f6f6;
}

/*!=============== MODAL STYLING ===============*/

.modalContainer {
  border: none;
}
.modalContent,
.modalHeading {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.modalContent {
  height: 75%;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modalContent
  > .modalContentBody
  :is(input, textarea, select, .dialoge, .addTodos) {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.modalHeading {
  font-size: 3rem;
  color: #fff;
  padding: 1rem 0%;
  font-weight: 500;
  background-color: var(--mainColor1);
}

.modalContent > .modalContentBody :is(input, textarea, select) {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
  resize: none;
  color: #000;
  box-shadow: none;
  border: none;
  outline: none;
}
.modalContent,
.modalContent > .modalContentBody :is(input, textarea, select),
.addTodos {
  border: 2px solid var(--mainColor1);
}

.modalContent > .modalContentBody :is(input, textarea, select):focus {
  border: 3px solid var(--mainColor1);
}

label,
.addTodos {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

.addTodos {
  background-color: var(--mainColor1);
  color: #fff;
}

.modalContent > i {
  font-size: 4rem;
  right: 5%;
  top: 4%;
  color: #fff;
}
/*!=============== FORMS SECTION ===============*/
.formBtns > :is(button, a),
.formLogInBtn,
.formSignUpBtn {
  background-color: var(--btn-bg);
  color: var(--mainColor3);
  border: 1px solid transparent;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  font-weight: 500;
}
.formBtns > :is(button, a):hover,
.formLogInBtn:hover,
.formSignUpBtn:hover {
  background-color: var(--mainColor3);
  color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
}
.formBtns > :is(button, a) {
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/*!=============== mainContainer section starts ===============*/
.vh {
  height: 100vh;
}
.per {
  height: 100%;
}

.signUpContainer,
.logInContainer,
:is(.signUpContainer, .logInContainer) input {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.signUpContainer,
.logInContainer {
  width: 500px;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 50px 20px;
  color: white;
  background-color: var(--mainColor3);
}

:is(.logInContainer, .signUpContainer) :is(label, input) {
  margin-top: 10px;
}
:is(.logInContainer, .signUpContainer) label {
  display: block;
  font-size: 1.8rem;
}
:is(.logInContainer, .signUpContainer) input {
  width: 100%;
  padding: 10px 10px;
  font-size: 1.6rem;
  color: white;
  background: var(--bg-gradient2);
}

:is(.logInContainer, .signUpContainer) input::placeholder {
  color: rgba(255, 255, 255, 0.598);
}

.formSignUpBtn,
.formLogInBtn {
  width: 100%;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 40px;
}
.sweatTitle {
  font-size: 2.5rem !important;
}
.sweatContainer {
  font-size: 1.7rem !important;
}
.sweatBtn {
  font-size: 1.4rem !important;
}
